<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
    <link rel="stylesheet" href="css/main.css">
    <script src="js/main.js" charset="UTF-8"></script>
    <script src="js/jquery-3.4.1.min.js" ></script>
</head>
<body>
    <div class="header">
        <ul>
            <li class="li2"><label class="zy">主页</label></li>
            <li class="li1"><a href="#" class="a">商品展示</a></li>
            <li class="li1"><a href="index.html" class="a">个人关注</a></li>
        </ul>
    </div>
    <div class="div1">
      <table class="table">
          <tr>
              <th>序号</th>
              <th>商品名称</th>
              <th>商品类型</th>
              <th>商品品牌</th>
              <th>商品价格</th>
              <th>是否下架</th>
              <th>是否有货</th>
              <th>是否关注</th>
          </tr>
          {%content%}
      </table>
    </div>
</body>
</html>